<div class="row-fluid">
  <div class="center hero-unit">
	<h1>Welcome to Fidus Viola!</h1>
	<p><font color=#DF7401>
		This is a sample application built as part of 
		<%= link_to "One Month Rails", "http://onemonthrails.com"%>
	</font></p>

	<p>
		<%= link_to "Sign in here", "#"%>
	</p>
  </div>
</div>



