<div class="hero-unit">
	<h1>Welcome to Fidus Viola!</h1>
	<p><font color=#DF7401>
		This is a sample application built as part of 
		<%= link_to "One Month Rails", "http://onemonthrails.com"%>
	</font></p>

	<p>
		<%= link_to "Sign up here", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>



