$navbarBackgroundHighlight: purple;
$navbarBackground: purple;
$btnPrimaryBackground: green;

@import 'bootstrap';

body {
	padding-top: 65px;
}

@import 'bootstrap-responsive';

.navbar-inner{
	@include box-shadow(none !important);
	border: 1;
}

.footer{
	margin-top: 45px;
	color: $grayLight;
	a{
		color: $gray;
	}
}